@font-face {
    font-family: 'RobotoBold';
    src: url('../assets/Roboto-Bold.ttf');
}

div.home-screen-heading {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 5%;
}

h1.home-screen-heading {
    font-size: 300%;
    font-weight: bold;
    font-family: RobotoBold;
    color: white;
}

span.top-sentence {
    display: block;
    font-family: RobotoBold;
}

div.sign-in-button {
    margin: auto;
    position: absolute;
    bottom: 12%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
}

div.sign-up-button {
    margin: auto;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
}

.home-page {
    --ion-background-color: linear-gradient(to bottom, #414188, #0F0F20);
}

span.sign-up-button {
    color: white !important;
}