@font-face {
    font-family: 'RobotoBold';
    src: url('../assets/Roboto-Bold.ttf');
}

div.register-screen-heading {
    margin: auto;
    width: 100%;
    padding-top: 30%;
    text-align: center;
}

h1.register-screen-heading {
    font-size: 240%;
    font-family: RobotoBold;
}

div.register-screen-sub-heading {
    margin: auto;
    width: 100%;
    text-align: center;
}

p.register-screen-sub-heading {
    font-size: 120%;
}

div.register-page-form {
    padding-top: 20%;
}

div.register-in-button {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 30%;
}

div.have-your-account {
    margin: auto;
    width: 100%;
    padding-top: 1%;
    text-align: center;
}

span.have-your-account {
    color: blue;
    font-weight: bold;
    display: inline;
}

.terms-and-conditions {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 9%;
}

ion-label {
    padding-left: 2%;
}